/* font family */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

 /* base fonts */
 body {
    font-family: 'Montserrat', sans-serif;
 }
 /* basic design */
 * {
    padding: 0px;
    margin: 0px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  li {
    list-style: none;
  }
  button {
    border: none;
  }
  .container {
    width: 1321px;
    margin: 0 auto;
    
  }

  /* top section start */

  .greatest-show {
    display: flex;
    background-color: #161616;
    justify-content: space-between;
    border-radius: 25px;
    height: 646px;
    padding: 0px 100px;
    align-items: center;
    margin-top: 50px;

  }
  .greatest-show-details h1 {
    color: white;
    font-weight: 700;
    font-size: 60px;
    
  }

  .greatest-show-details p {
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin-top: 20px;
    line-height: 25px;
    
  }
  .greatest-show-details button {
    width: 187px;
    height: 56px;
    background-color: #DD0000;
    border-radius: 5px;
    margin-top: 20px ;
    font-weight: 400;
    font-size: 20px;
    color: white;
  }
.greatest-show-picture img {
    width: 518px;
    height: 613px;
    margin-top: 35px;
}
/* top section end */


/* blog section start */
.blog {
    display: flex;
    margin-top: 130px;
}
.side-bar {
    background-color: #161616;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    width: 312px;
    height: 312px;
}
.side-bar button {
    width: 240px;
    height: 60px; 
    background-color: white;
    border-radius: 10px;
    display: block;
    margin-top: 30px;
    
}
.side-bar span button{
    width: 240px;
    height: 60px;
    background-color: #DD0000;
    border-radius: 10px;
    display: block;
    margin-top: 30px;
  
}
.side-bar span button a {
    color: white;
}
.side-bar a {
    font-weight: 550;
    font-size: 20px;
}
.article {
    margin-left: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.news-content {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    
}
.news-content img {
    width: 100%;
  

}
.news-content button {
    width: 100px;
    height: 32px;
    border: 1px solid #161616;
    border-radius: 5px;
    background-color: white;
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20px;
}
.news-content h3 {
    font-weight: 650;
    font-size: 18px;
    margin-top: 18px;
    padding-left: 20px;
}
.news-icon {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-left: 20px;
    margin-bottom: 16px;
    
}
.img1 {
    display: flex;
}
.news-icon img {
    width: 24px;
    height: 24px;
    padding: 0px 10px 10px 0px;
}
.img2 {
    display: flex;
    margin-left: 30px;
}
.news-icon h4 {
    padding: 0px 10px 10px 0px;
    color: #161616B2;
    font-weight: 500;
    font-size: 16px;
}
/* blog section end */
/* footer start */
footer {
    background-color: #161616;
    margin-top: 100px;
    text-align: center;
}
footer h2 {
    font-weight: 700;
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 50px;
    
}
footer hr {
   border: 1px solid rgba(255, 255, 255, 0.1);
}
nav {
    padding: 50px 0px 0px 0px;
}

nav ul li {
    display: inline-block;
    padding: 5px 20px;
}
footer a {
    color: #B9B9B9;
    width: 600;
    font-size: 16px;
    margin: 20px auto;
    
}
.social-icon ul li {
   color: #E8E8E8;
   margin-top: 30px;
   display: inline-block;
   padding: 10px 20px;
   margin-bottom: 50px;
}
.social-icon ul li i{
    font-size: 25px;
}


/*****************************
    reponsive in mobile 
 *****************************/
@media only screen and (max-width:576px){
    .container {
    width: 334px;
    margin: 0px auto;
    } 

    .greatest-show {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 550px;
    padding: 0 20px;
     
    }
    .greatest-show-details h1 {
    margin-top: 28px;
    font-weight: 800;
    font-size: 22px;
    }
    .greatest-show-details p {
       padding: 0%;
    } 

    .greatest-show-details button {
    width: 161px;
    height: 40px;
    font-weight: 400;
    font-size: 20px;
    }
    .greatest-show-picture img {
        width: 233px;
        height: 245px;
        margin-top: 15px;
    }
    /* blog mobile responsive */
.blog {
    flex-direction: column;
    margin-top: 30px;
}
.side-bar {
    background-color: white;
    padding: 0;
    width: 100%;
    
}

.side-bar button {
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    display: block;
    margin-top: 30px;
    text-align: center;
    border: 1px solid #E8E8E8;
    margin: 10px auto;

    
}
.side-bar span button {
    margin: 10px auto;

}
.article {
    display: grid;
    grid-template-columns:1fr;
    justify-content: center;
}
/* footer section responsive */


    footer ul li {
        display: block;
        padding: 20px 10px;
    }
 .social-icon ul li {
        display: inline-block;
    }
 /* footer end */

 }
 /* --------------------
 reponsive in tab
 ---------------------- */
@media screen and (min-width: 577px) and (max-width: 992px){
    .container {
        width: 85%;
        margin: 0px auto;
    }
    .greatest-show {
        height: 356px;
        
    }
    .greatest-show-details h1 {
        font-size: 30px;
        font-weight: 800;
        width: 100%;
        

    }
    .greatest-show-details p {
        font-size: 12px;
        font-weight: 400;
        margin-top: 10px;
        line-height: 20px;
    } 
    .greatest-show-details button {
        width: 151px;
        height: 40px;
        margin-top: 10px;
    }
    .greatest-show-picture img {
        width: 300px;
        height: 320px;
      margin-left: 10px;
    }
    /* blog section tab reponsiveness */
    .blog {

        flex-direction: column;
        margin-top: 30px;
    }
    .greatest-show {
        padding: 0px 40px;
    }
    .side-bar {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: white;
        padding: 0px;
        width: 100%;
        align-items: baseline;
        margin-bottom: 0px;
        height: 140px;
    }
    .side-bar button {
        width: 210px;
        height: 64px;
        background-color: white;
        border-radius: 10px;
        border: 1px solid #E8E8E8;
        margin: 0px;
        margin-bottom: 0px;
    }
    .side-bar span button {
        margin: 30px auto;
        width: 200px;
    }
    .article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 0px;
    }
    /* blog section responsive end */
/* footer section responsive start */
footer ul li {
    display: block;
    padding: 20px 10px;
}
.social-icon ul li {
    display: inline-block;
}
   
}
